html, body, #root { min-height: 100%; }
body { margin: 0; }
.lhp-react-page { min-height: 100vh; }
#wpforms-1620-field_1-container {
  position: absolute !important;
  overflow: hidden !important;
  display: inline !important;
  height: 1px !important;
  width: 1px !important;
  z-index: -1000 !important;
  padding: 0 !important;
}
#wpforms-1620-field_1-container input { visibility: hidden; }
